@use "../common/common" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-footer-background;
  color: $color-footer-text;
  padding: $spacing-lg $spacing-md;
  font-size: $font-size-medium;
  width: 100%;
}
