@use "../common/common" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: $color-blue-light;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    height: 100%;

    .brand {
      display: flex;
      align-items: center;
      gap: $spacing-xs;

      i {
        color: $color-red;
        font-size: 1.5rem;
      }

      .brand-name {
        font-size: 1.8rem;
        font-weight: bold;
        color: $color-white;
      }
    }

    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 18px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      .bar {
        height: 3px;
        width: 100%;
        background-color: $color-light-grey;
        border-radius: $border-radius-small;
      }
    }

    nav {
      display: flex;
      align-items: center;
      gap: $spacing-sm;

      .nav-label {
        a {
          text-decoration: none;
          font-weight: 400;
          font-size: 1rem;
          padding: $spacing-xs $spacing-xs;
          display: inline-block;
          border-radius: $border-radius-small;
          color: $color-white;

          &:hover {
            color: $color-red;
            transition: 0.2s ease-in;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .hamburger {
        display: flex;
      }

      .nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: $color-blue-light;
        flex-direction: column;
        align-items: center;
        gap: $spacing-sm;
        padding: $spacing-sm 0;
        display: none;
      }

      .nav.open {
        display: flex;
      }
    }
  }
}
