@use "../common/common" as *;

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  h1 {
    font-size: 40px;
    margin-bottom: $spacing-sm;
  }

  p {
    font-size: $font-size-medium;
    color: $color-grey-text;
    margin-bottom: $spacing-md;
  }

  .back-home-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: $color-button-primary;
    color: $color-white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-button-primary-hover;
    }
  }
}
